.underline-animation {
    position: relative;
    overflow: hidden;
  }
  
  .underline-animation::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; 
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease-out;
  }
  
  .underline-animation:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .fixed {
    width: 64px;
    height: 100%;
  }
  
  .transition-transform {
    transition: transform 0.3s ease-in-out;
  }
  
  .translate-x-0 {
    transform: translateX(0);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }